@charset "UTF-8";

body {
    
    border:1px solid #ccc;
   
width:100%;
height:100%;
    margin:10px auto;
}

header{

    padding:15px;
text-align:center;
    border:1px solid #ccc;
    width: 100%;
    height: 10%;
}

article {
text-align:center;
float:left;
    width:100%;
    height:90%;
}